.hero {
  max-width: 1240px;
  height: 720px;
}
.hero__content {
  max-width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: 45% 55%;
}
.hero__content__warrior {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.hero__content__warrior-logo {
  display: flex;
  margin: 0;
  color: #12100c;
  font-size: 5rem;
  font-style: normal;
  font-weight: 700;
  line-height: 5.5rem;
  padding: 20px 0;
}
.hero__content__warrior-text {
  text-decoration: none;
  color: rgba(18, 16, 12, 0.7);
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.995rem;
  padding-bottom: 40px;
}
.hero__content__warrior__btns {
  display: flex;
  align-items: center;
  gap: 30px;
}
.hero__content__warrior__btns-btn {
  width: 10rem;
  height: 2.875rem;
  border-radius: 1rem;
  background: #ffae33;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #12100c;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.40625rem;
}
.hero__content__warrior__btns-text1 {
  display: flex;
  text-decoration: none;
  color: rgba(18, 16, 12, 0.7);
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.hero__content__warrior__icon {
  display: flex;
  align-items: center;
  gap: 20px;
  padding: 20px 0 0 20px;
}
.hero__content__img {
  display: flex;
  background: url(<path-to-image>), lightgray 50%/contain no-repeat;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
  width: 39.375rem;
  height: 40.75rem;
  border-radius: 10px;
}
.hero__title {
  max-width: 1240px;
  height: 600px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title-logo {
  margin: 0;
  color: #12100c;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.9825rem;
}
.hero__title-textline {
  margin: 0;
  color: #999795;
  text-align: center;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 3.9825rem;
  text-decoration-line: line-through;
}
.hero__title1 {
  max-width: 1240px;
  height: 500px;
  display: grid;
  grid-template-columns: 50% 50%;
}
.hero__title1__info {
  max-width: 600px;
  height: 360px;
  display: flex;
  flex-direction: column;
}
.hero__title1__info-logo {
  margin: 0;
  color: #12100c;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  padding: 40px 0 10px;
}
.hero__title1__info-text {
  text-decoration: none;
  color: rgba(18, 16, 12, 0.7);
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.995rem;
  padding-bottom: 150px;
}
.hero__title1__info__btns {
  display: flex;
  align-items: center;
  gap: 20px;
}
.hero__title1__info__btns-btn {
  width: 10.125rem;
  height: 2rem;
  border-radius: 0.65625rem;
  background: #ffae33;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #12100c;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}
.hero__title1__info__btns-btn1 {
  width: 9.125rem;
  height: 2rem;
  border-radius: 0.65625rem;
  background: #ffb0ae;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #12100c;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}
.hero__title1__img {
  width: 36.875rem;
  height: 29.5rem;
  border-radius: 1.25rem;
  background: url(<path-to-image>), lightgray 50%/cover no-repeat;
  box-shadow: 0px 2px 5px 0px rgba(0, 0, 0, 0.08);
}
.hero__title2 {
  max-width: 1240px;
  height: 1200px;
}
.hero__title2__header {
  max-width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__title2__header-text {
  margin: 0;
  color: #12100c;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.48875rem;
}
.hero__title2__info {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.hero__title2__info-img {
  width: 79.3125rem;
  height: 51.3125rem;
  border-radius: 0.875rem;
  background: url(<path-to-image>), lightgray 50%/contain no-repeat;
  box-shadow: -2px 2px 15px 8px rgba(255, 138, 0, 0.4);
}
.hero__title2__info-text {
  text-decoration: none;
  padding-top: 50px;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.995rem;
}
.hero__title2__info__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 20px;
  max-width: 100%;
  height: 80px;
}
.hero__title2__info__icon__btns {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  width: 12.9375rem;
  height: 2.9375rem;
  border-radius: 0.5625rem;
  background: #fff;
  box-shadow: 0px 0.5px 2px 0px rgba(0, 0, 0, 0.1);
}
.hero__title2__info__icon__btns-btn {
  text-decoration: none;
  color: #12100c;
  text-align: center;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.99125rem;
}
.hero__title3 {
  max-width: 1240px;
  height: 850px;
}
.hero__title3__header {
  max-width: 100%;
  height: 200px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__title3__header-logo {
  margin: 0;
  color: #12100c;
  text-align: center;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 3.9825rem;
}
.hero__title3__cards {
  max-width: 1240px;
  height: 300px;
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
}
.hero__title3__cards__card {
  display: flex;
  flex-direction: column;
  justify-content: center;
  max-width: 380px;
  height: 300px;
  border-radius: 1rem;
  background: #f7f5f5;
}
.hero__title3__cards__card-text {
  padding: 0 20px;
  text-decoration: none;
  max-width: 340px;
  height: 55px;
  color: #12100c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.hero__title3__cards__card-text1 {
  padding: 0 20px 50px;
  text-decoration: none;
  max-width: 340px;
  height: 150px;
  color: #12100c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.hero__title3__cards__card-tekst {
  padding: 0 20px;
  text-decoration: none;
  max-width: 340px;
  height: 75px;
  color: #12100c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.hero__title3__cards__card-tekst1 {
  padding: 40px 20px 0;
  text-decoration: none;
  max-width: 340px;
  height: 75px;
  color: #12100c;
  font-size: 1rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.5rem;
}
.hero__title3__cards__card-img1 {
  max-width: 320px;
  height: 80px;
  padding: 60px 20px 0;
  color: rgb(18, 16, 12);
}
.hero__title3__cards__card-img2 {
  max-width: 320px;
  height: 80px;
  padding: 20px 20px 0;
  color: rgb(18, 16, 12);
}
.hero__title3__cards__card-img3 {
  max-width: 320px;
  height: 70px;
  padding: 0 20px;
  color: rgb(18, 16, 12);
}
.hero__title3__warrior {
  max-width: 1140px;
  height: 150px;
  margin: 0 auto;
  display: flex;
  justify-content: flex-start;
  align-items: end;
  gap: 70px;
}
.hero__title3__warrior-images {
  display: flex;
  align-items: center;
  max-width: 100px;
  height: 80px;
}
.hero__title3__warrior-images1 {
  max-width: 100px;
  height: 65px;
}
.hero__title3__warrior1 {
  max-width: 1140px;
  height: 100px;
  margin: 0 auto;
  display: flex;
  justify-content: center;
  align-items: end;
  gap: 100px;
}
.hero__title3__warrior1-images {
  display: flex;
  align-items: center;
  max-width: 100px;
  height: 80px;
}
.hero__title4 {
  max-width: 1240px;
  height: 770px;
}
.hero__title4__header {
  max-width: 100%;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.hero__title4__header-logo {
  color: #12100c;
  font-size: 3.375rem;
  font-style: normal;
  font-weight: 700;
  line-height: 4.48875rem;
  margin: 0;
  padding-bottom: 50px;
}
.hero__title4__cards {
  max-width: 100%;
  height: 600px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 30px;
}
.hero__title4__cards__card {
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f5f5;
  border-radius: 30px;
}
.hero__title4__cards__card-logo {
  color: #12100c;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
}
.hero__title4__cards__card-text {
  text-decoration: none;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.995rem;
  padding: 20px 0 40px;
}
.hero__title4__cards__card__icon2 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.375rem;
  height: 40px;
  border-radius: 0.75rem;
  background: #2684ff;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  gap: 10px;
}
.hero__title4__cards__card__icon1 {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.375rem;
  height: 40px;
  border-radius: 0.75rem;
  background: #000;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  gap: 10px;
}
.hero__title4__cards__card__icon {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 13.375rem;
  height: 40px;
  background: #fc6d26;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 20px;
  border-radius: 0.75rem;
  gap: 10px;
}
.hero__title4__cards__card__icon-btn {
  width: 1.75rem;
  height: 1.75rem;
}
.hero__title4__cards__card__icon-text {
  text-decoration: none;
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1rem;
}
.hero__title4__cards__card-tekst {
  text-decoration: none;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.995rem;
  padding-top: 50px;
}
.hero__title4__cards__card-sylka {
  text-decoration: none;
  width: 9.4375rem;
  height: 1.9375rem;
  border-radius: 0.75rem;
  background: #ffe4bc;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.995rem;
  margin-top: 20px;
}
.hero__title4__cards__card1 {
  max-width: 600px;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background: #f7f5f5;
  border-radius: 30px;
}
.hero__title4__cards__card1-logo {
  color: #12100c;
  text-align: center;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 2.5rem;
  margin: 0;
}
.hero__title4__cards__card1-text {
  text-decoration: none;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 1.4375rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.995rem;
  padding: 20px 0 40px;
}
.hero__title4__cards__card1__info {
  max-width: 100%;
  height: 360px;
  padding: 0 15px;
}
.hero__title4__cards__card1__info__icon {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 500px;
  height: 50px;
  padding: 0 15px;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 10px;
  border-radius: 0.75rem;
  background: #f9f9f9;
  gap: 10px;
}
.hero__title4__cards__card1__info__icon__btns {
  display: flex;
  gap: 15px;
}
.hero__title4__cards__card1__info__icon__btns-text {
  text-decoration: none;
  color: rgba(18, 16, 12, 0.7);
  text-align: center;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.25rem;
}
.hero__title4__cards__card1__info__icon-button {
  width: 8.9375rem;
  height: 2rem;
  border-radius: 0.75rem;
  background: #12100c;
  box-shadow: 0px 1px 1px 0px rgba(0, 0, 0, 0.1);
  color: #fff;
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1rem;
}/*# sourceMappingURL=hero.css.map */